* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

form.form {
    padding: 0 .5rem;
}

form.form > div {
    margin-bottom: 1rem;
}

form.form > div input[type="text"] {
    width: 100%;
    padding: .5rem .5rem;
    margin-top: .3rem;
    font-size: 1rem;
}

form.form > div input[type="check"] {
    padding: 1rem;
}

form.form button {
    width: 100%;
    padding: 1rem 0;
    border-radius: .5rem;
    font-size: 1.3rem;
    cursor: pointer;
}

.card-housing {
    display: grid;
    gap: 1rem;
    grid-template-columns: auto auto auto auto;
}

.card {
    border-width: 1px;
    border-color: rgb(165, 165, 165);
    border-style: solid;
    border-radius: .5rem;
    padding: 2rem 0;
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
    transition: transform .2s;
    filter: blur(2px) opacity(40%);
    background-color: rgb(255, 255, 255);
}

.card-selected {
    border-width: 2px;
    border-color: rgb(103, 192, 103);
    filter: brightness(1);
}

@media screen and (min-width: 960px) {
    .form-housing {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (orientation: landscape) and (max-width: 800px) {
    .landscape-form {
        display: grid;
        gap: 1rem;
        grid-template-columns: 35% auto;
        grid-template-rows: auto auto auto auto;
    }

    h1 {
        margin-top: .5rem;
        margin-bottom: .5rem;
        grid-column-start: 1;
        grid-column-end: span 2;
    }

    .landscape-form .first-col {
        grid-column-start: 1;
    }

    .landscape-form .span-cols {
        grid-column-start: 1;
        grid-column-end: span 2;
    }

    .available-cards-grid {
        grid-column-start: 2;
        grid-row-start: 2;
        grid-row-end: span 3;
    }

    .available-cards-grid .card {
        padding: .4rem 0;
    }
}
